import "zone.js";
import "@angular/compiler";
import { bootstrapApplication } from "@angular/platform-browser";
import { Component, ViewChild } from "@angular/core";
import { FormControl, FormGroup, ReactiveFormsModule, Validators } from "@angular/forms";
import { IntlTelInputComponent } from "../../../build/intl-tel-input/angular/IntlTelInput.js";

@Component({
  selector: "#app",
  template: `
    <form [formGroup]="fg" (ngSubmit)="handleSubmit()" class="row g-2">
      <div class="col-auto">
        <intl-tel-input
          #telInput
          formControlName="phone"
          name="phone"
          [initOptions]="initOptions"
          [inputProps]="{ class: 'form-control', title: 'Enter your phone number' }"
        />
      </div>
      <div class="col-auto">
        <button class="btn btn-primary" type="submit">
          Validate
        </button>
      </div>
      <div class="notice">
        @if (phone?.errors?.["required"] && phone?.touched) {
          Please enter a number
        } @else if (phone?.errors?.["invalidPhone"] && phone?.touched) {
          {{ phone?.errors?.["invalidPhone"].errorMessage }}
        } @else if (notice) {
          {{ notice }}
        }
      </div>
    </form>
  `,
  standalone: true,
  imports: [IntlTelInputComponent, ReactiveFormsModule]
})
export class AppComponent {
  @ViewChild("telInput") telInput!: IntlTelInputComponent;

  initOptions = {
    initialCountry: "us",
    loadUtils: () => import('<%= cacheBust('/intl-tel-input/js/utils.js') %>'),
  };

  fg: FormGroup = new FormGroup({
    phone: new FormControl<string>("", [Validators.required]),
  });

  notice: string | null = null;

  get phone() {
    return this.fg.get("phone");
  }

  handleSubmit(): void {
    this.phone?.markAsTouched();
    if (this.fg.valid) {
      this.notice = `Valid number: ${this.telInput.getInstance()?.getNumber()}`;
    }
  }
}

bootstrapApplication(AppComponent)
  .catch((err) => console.error(err));
