import React, { useMemo, useState } from "react";
import { createRoot } from "react-dom/client";
import IntlTelInput from "../../../build/intl-tel-input/react/IntlTelInput.js";

const errorMap = [
  "Invalid number",
  "Invalid country code",
  "Too short",
  "Too long",
  "Invalid number",
];

const App = () => {
  const [number, setNumber] = useState("");
  const [isValid, setIsValid] = useState(false);
  const [errorCode, setErrorCode] = useState(0);
  const [noticeMode, setNoticeMode] = useState("off");

  const notice = useMemo(
    () => {
      if (noticeMode === "off") {
        return null;
      }
      if (isValid) {
        return noticeMode === "submit" ? `Valid number: ${number}` : "";
      }
      if (number) {
        const errorMessage = errorMap[errorCode || 0] || "Invalid number";
        return `Error: ${errorMessage}`;
      }
      return "Please enter a number";
    },
    [noticeMode, isValid, number, errorCode],
  );

  const handleSubmit = (e) => {
    e.preventDefault();
    setNoticeMode("submit");
  };

  return (
    <form onSubmit={handleSubmit} className="row g-2">
      <div className="col-auto">
        <IntlTelInput
          onChangeNumber={setNumber}
          onChangeValidity={setIsValid}
          onChangeErrorCode={setErrorCode}
          initOptions={{
            initialCountry: "us",
            loadUtils: () => import("<%= cacheBust('/intl-tel-input/js/utils.js') %>"),
          }}
          inputProps={{
            name: "phone",
            onBlur: () => setNoticeMode("blur"),
            className: "form-control",
          }}
        />
      </div>
      <div className="col-auto">
        <button className="btn btn-primary" type="submit">Validate</button>
      </div>
      {notice && <div className="notice">{notice}</div>}
    </form>
  );
};

const container = document.getElementById("app");
const root = createRoot(container);
root.render(<App />);