<script setup>
  import { ref } from "vue";
  import IntlTelInput from "../../../build/intl-tel-input/vue/exports/IntlTelInput.mjs";

  const errorMap = [
    "Invalid number",
    "Invalid country code",
    "Too short",
    "Too long",
    "Invalid number",
  ];

  const isValid = ref(null);
  const number = ref(null);
  const errorCode = ref(null);
  const notice = ref(null);

  const handleSubmit = () => {
    if (isValid.value) {
      notice.value = `Valid number: ${number.value}`;
    } else {
      const errorMessage = errorMap[errorCode.value || 0] || "Invalid number";
      notice.value = `Error: ${errorMessage}`;
    }
  };
</script>

<template>
  <form @submit.prevent="handleSubmit" class="row g-2">
    <div class="col-auto">
      <IntlTelInput
        @changeNumber="number = $event"
        @changeValidity="isValid = $event"
        @changeErrorCode="errorCode = $event"
        :options="{
          initialCountry: 'us',
          loadUtils: () => import('<%= cacheBust('/intl-tel-input/js/utils.js') %>'),
        }"
        :inputProps="{
          class: 'form-control',
        }"
      />
    </div>
    <div class="col-auto">
      <button class="btn btn-primary" type="submit">Validate</button>
    </div>
    <div v-if="notice" class="notice">{{ notice }}</div>
  </form>
</template>
