:root {
  --iti-spacer-horizontal: 12px;
  --iti-globe-height: 26px;
  --iti--search-clear-icon-height: 16px;
  --iti-arrow-height: 6px;
  --iti-arrow-padding: 10px;
  --iti-path-flags-1x: url('/img/largeFlags.webp');
  --iti-path-flags-2x: url('/img/largeFlags@2x.webp');
}
.iti {
  font-size: 20px;
}
.iti input {
  height: 50px;
  width: 350px !important;
}
input.iti__search-input {
  padding-left: 45px;
  padding-right: 45px;
}