{
  "extends": ["airbnb", "prettier"],
  "parser": "babel-eslint",
  "env": {
    "browser": true,
  },
  "rules": {
    "arrow-parens": "off",
    "camelcase": "off",
    "class-methods-use-this": "off",
    "curly": ["error", "all"],
    "no-cond-assign": ["error", "except-parens"],
    "no-lonely-if": "off",
    "no-multi-assign": "off",
    "no-param-reassign": ["error", {
      "props": false,
    }],
    "no-plusplus": "off",
    "no-prototype-builtins": "off",
    "no-restricted-globals": "off",
    "no-return-assign": "off",
    "no-underscore-dangle": "off",
    "no-unused-vars": ["error", {
      "ignoreRestSiblings": true
    }],
    "space-before-function-paren": "off",
    # airbnb's version, adding "*" to block.exceptions section to allow blocks wrapped in loads of asterisks
    "spaced-comment": ["error", "always", {
      line: {
        exceptions: ["-", "+"],
        markers: ["=", "!"],
      },
      block: {
        exceptions: ["-", "+", "*"],
        markers: ["=", "!"],
        balanced: true,
      }
    }],
  },
  "globals": {
    "allCountries": true,
    "intlTelInputUtils": true,
    "goog": true,
    "i18n": true,
  },
}
