[submodule "third_party/libphonenumber"]
	path = third_party/libphonenumber
	url = https://github.com/google/libphonenumber

[submodule "third_party/country-list"]
	path = third_party/country-list
	url = https://github.com/umpirsky/country-list
