/node_modules/
/lib/*
!/lib/libphonenumber
/.sass-cache/
/.grunt/
/tmp/
/vendor/
/.idea/
*.iml
.DS_Store
/build/
/react/build/
/react/src/reactWithUtils.tsx
/svelte/build/
/svelte/src/IntlTelInputWithUtils.svelte
/vue/build/
/vue/src/IntlTelInputWithUtils.vue
/angular/build/
/angular/src/angularWithUtils.ts
/src/css/_metadata.scss
/*/demo/*/*-bundle.js
/test-results/
/playwright-report/
/.claude/