body {
	padding: 10px;
	font: 80% Helvetica, Arial, "Lucida Grande", sans-serif;
}
.hide {
	display: none;
}
* {
	box-sizing: border-box;
}
input {
	width: 250px;
	font-family: inherit;
	font-size: 100%;
}