* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}

body {
  margin: 20px;

  font-size: 14px;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  color: #333;
}

pre {
  background-color: #eee;
  padding: 10px;
  margin: 0;
  display: inline-block;
}

input, button {
  height: 30px;
  margin: 0;
  border-radius: 2px;

  // same font style, size and color as rest of site
  font-family: inherit;
  font-size: 100%;
  color: inherit;

  &[disabled] {
    background-color: #eee;
  }
}

button {
  border: none;
  background-color: #E7E7E7;
  padding: 5px 10px;
}
button:hover {
  background-color: #eee;
  cursor: pointer;
}

.intl-tel-input {
  input {
    padding: 0 8px;
    // add this for testing, as plugin should be able to cope
    margin-bottom: 20px;
  }

  // defaultStyling = "inside"
  &.inside input {
    border: 1px solid #CCC;
    width: 250px;
  }

  // defaultStyling = "outside"
  &.outside {
    border: 1px solid #CCC;

    input {
      width: 210px; // 250 - 38 (margin-left) - 2 (border)
    }
    input[disabled] + .flag-dropdown {
      background-color: #eee;
    }
  }
}