/**
 * Custom download from http://flag-sprites.com/
 * Select FamFamFam flag icon set
 * Deselect: Mayotte, West Sahara, Netherlands Antilles, Pitcairn,
 * and everything from the "Other areas" section except British IOT
 * THEN: manually added .bq next to .nl
 * AND: .bl and .mf next to .fr
 */
@import "sprite";

.iti-flag {
  width: 16px;
  height: 12px;
  background-image: url("../img/flags.png");

  @media
  only screen and (-webkit-min-device-pixel-ratio: 2),
  only screen and (   min--moz-device-pixel-ratio: 2),
  only screen and (     -o-min-device-pixel-ratio: 2/1),
  only screen and (        min-device-pixel-ratio: 2),
  only screen and (                min-resolution: 192dpi),
  only screen and (                min-resolution: 2dppx) {
    background-image: url("../img/flags@2x.png");
  }
}
