$hoverColor: #eee;
$greyText: #999;
$greyBorder: #CCC;

.intl-number-input {
	position: relative;

	.flag-dropdown {
		position: absolute;
		// allow 1px for the input's border
		top: 1px;
		left: 1px;
		cursor: pointer;

		.selected-flag {
			padding: 6px 16px 6px 7px;

			&:HOVER {
				background-color: $hoverColor;
			}

			.flag {
				position: relative;

				&:after {
					content: '▾';
					position: absolute;
					top: 0;
					left: 20px;
					color: #666;
				}
			}
		}

		.country-list {
			list-style: none;
      padding: 0;
      margin: 0;
      z-index: 1;
      overflow-y: scroll;

			box-shadow: 1px 1px 4px rgba(0,0,0,0.2);
			background-color: white;
			border: 1px solid $greyBorder;

			position: absolute;
			top: 28px;
			left: 0;
			width: 330px;
			height: 200px;

			.divider {
				border-bottom: 1px solid $greyBorder;
			}

			.country {
				padding: 4px 10px;
				font-size: 14px;
				.grey {color: $greyText;}
				&:HOVER {
					background-color: $hoverColor;
				}
			}

			.flag, .country-name {
				display: inline-block;
				margin-right: 6px;
				vertical-align: middle;
			}
		}
	}

	input[type='tel'] {
		height: 30px;
		padding: 4px 4px 4px 47px;
	}
}