input {padding: 4px;}
.hide {display: none;}

.intl-number-input {
	position: relative; 

	.flag-dropdown {
		position: absolute;
		top: 0;
		left: 0;
		border-right: 1px solid #CCC;
		cursor: pointer;

		.selected-flag {
			padding: 7px;
		}

		.country-list {
			list-style: none;
      padding: 0;
      margin: 0;
      z-index: 1;
			box-shadow: 0 2px 4px rgba(0,0,0,0.2);
			background-color: white;
			border: 1px solid rgba(0,0,0,.2);
			position: absolute;
			top: 28px;
			left: 0;
			width: 330px;
			height: 200px;
			overflow-y: scroll;
			.divider {
				border-bottom: 1px solid #ddd;
			}
			.country {
				padding: 3px 10px;
				font-size: 14px;
				.grey {color: #999;}
				&:HOVER {
					background-color: #eee;
				}
			}
			.flag {
				display: inline-block;
				margin-right: 5px;
				vertical-align: middle;
			}
		}
	}

	input[type='tel'] {
		padding-left: 37px;
	}
}