@import 'flags';

// rgba is needed for the selected flag hover state to blend in with
// the border-highlighting some browsers give the input on focus
$hoverColor: rgba(0, 0, 0, 0.05);
$greyText: #999;
$greyBorder: #CCC;

$flagHeight: 11px;
$flagWidth: 16px;
$flagPadding: 8px;
// this border width is used for the popup and divider, but it is also
// assumed to be the border width of the input, which we do not control
$borderWidth: 1px;

$arrowHeight: 4px;
$arrowWidth: 6px;
$triangleBorder: 3px;
$arrowPadding: 4px;
$arrowColor: #555;

$inputPadding: 6px;
$selectedFlagWidth: $flagWidth + $flagPadding + $arrowWidth + (2 * $arrowPadding);


.intl-tel-input {
  // need position on the container so the selected flag can be
  // absolutely positioned over the input
  position: relative;
  // keep the input's default inline properties
  display: inline-block;

  // paul irish says this is ok
  // http://www.paulirish.com/2012/box-sizing-border-box-ftw/
  * {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
  }

  .hide {
    display: none;
  }
  // need this during init, to get the height of the dropdown
  .v-hide {
    visibility: hidden;
  }

  input {
    position: relative;
    z-index: 0;

    // any vertical margin the user has on their inputs would no longer work as expected
    // because we wrap everything in a container div. i justify the use of !important
    // here because i don't think the user should ever have vertical margin here - when
    // the input is wrapped in a container, vertical margin messes up alignment with other
    // inline elements (e.g. an adjacent button) in firefox, and probably other browsers.
    margin-top: 0 !important;
    margin-bottom: 0 !important;
  }

  .flag-dropdown {
    // positioned over the top of the input
    position: absolute;
    // full height
    top: 0;
    bottom: 0;
  }
  // hover state - show flag is clickable
  .flag-dropdown:hover {
    cursor: pointer;
    .selected-flag {
      background-color: $hoverColor;
    }
  }
  // disable hover state when input is disabled
  input[disabled] + .flag-dropdown:hover {
    cursor: default;
    .selected-flag {
      background-color: transparent;
    }
  }

  .selected-flag {
    // render above the input
    z-index: 1;
    position: relative;
    width: $selectedFlagWidth;
    // this must be full-height both for the hover highlight, and to push down the
    // dropdown so it appears below the input
    height: 100%;
    padding: 0 0 0 $flagPadding;

    // vertically center the flag
    .flag {
      position: absolute;
      top: 50%;
      margin-top: -1 * floor($flagHeight / 2);
    }

    .arrow {
      position: relative;
      // split the difference between the flag and the arrow height to verically center
      top: 50%;
      margin-top: -1 * ($arrowHeight / 2);
      left: $flagWidth + $arrowPadding;

      // css triangle
      width: 0;
      height: 0;
      border-left: $triangleBorder solid transparent;
      border-right: $triangleBorder solid transparent;
      border-top: $arrowHeight solid $arrowColor;

      &.up {
        border-top: none;
        border-bottom: $arrowHeight solid $arrowColor;
      }
    }
  }

  // the dropdown
  .country-list {
    // override default list styles
    list-style: none;
    position: absolute;
    // popup so render above everything else
    z-index: 2;

    // inline flags
    .flag {
      display: inline-block;
    }

    padding: 0;
    // margin-left to compensate for the padding on the parent
    margin: 0 0 0 (-$borderWidth);

    box-shadow: 1px 1px 4px rgba(0,0,0,0.2);
    background-color: white;
    border: $borderWidth solid $greyBorder;

    // wide enough to fit long country names
    width: 430px;
    max-height: 200px;
    overflow-y: scroll;

    // the divider below the preferred countries
    .divider {
      padding-bottom: 5px;
      margin-bottom: 5px;
      border-bottom: $borderWidth solid $greyBorder;
    }

    // each country item in dropdown
    .country {
      // set this to height of flag - if it is higher, things get misaligned
      line-height: $flagHeight;
      padding: 7px 10px;
      // the dial codes after the country names are greyed out
      .dial-code {
        color: $greyText;
      }
    }
    .country.highlight {
      background-color: $hoverColor;
    }

    // spacing between country flag, name and dial code
    .flag, .country-name {
      margin-right: 6px;
    }
  }



  &.inside {
    .flag-dropdown {
      // prevent the highlighted child from overlapping the input border
      padding: $borderWidth;
    }

    // specify types to increase specificity e.g. to override bootstrap v2.3
    input[type="text"], input[type="tel"] {
      // make space for the selected flag
      // Note: no !important here, as the user may want to tweak this so that the 
      // perceived input padding matches their existing styles
      padding-left: $selectedFlagWidth + $inputPadding;

      // any margin-left here will push the selected-flag away
      margin-left: 0;
    }
  }



  &.outside {
    // specify types to increase specificity e.g. to override bootstrap v2.3
    input[type="text"], input[type="tel"] {
      // the border should be around the parent in this case
      border: none;

      // make space for the selected flag
      margin-left: $selectedFlagWidth;
    }
  }
}

