@function strip-units($value) {
  @return $value / ($value * 0 + 1);
}

@function retina-size($value) {
  @return strip-units($value)/2 + px;
}

@mixin retina-bg-size($spriteWidth, $spriteHeight) {
  background-size: (strip-units($spriteWidth)/2) + px (strip-units($spriteHeight)/2) + px;
}

.iti-flag {
  @media
  only screen and (-webkit-min-device-pixel-ratio: 2),
  only screen and (   min--moz-device-pixel-ratio: 2),
  only screen and (     -o-min-device-pixel-ratio: 2/1),
  only screen and (        min-device-pixel-ratio: 2),
  only screen and (                min-resolution: 192dpi),
  only screen and (                min-resolution: 2dppx) {
    @include retina-bg-size(494px, 448px);
  }

  &.ac {
    width: retina-size(36px);
    height: retina-size(18px);
    background-position: retina-size(-348px) retina-size(-368px);
  }
  &.ad {
    width: retina-size(36px);
    height: retina-size(25px);
    background-position: retina-size(-108px) retina-size(0px);
  }
  &.ae {
    width: retina-size(36px);
    height: retina-size(18px);
    background-position: retina-size(-422px) retina-size(-144px);
  }
  &.af {
    width: retina-size(36px);
    height: retina-size(24px);
    background-position: retina-size(-252px) retina-size(-248px);
  }
  &.ag {
    width: retina-size(36px);
    height: retina-size(24px);
    background-position: retina-size(-252px) retina-size(-216px);
  }
  &.ai {
    width: retina-size(36px);
    height: retina-size(18px);
    background-position: retina-size(-422px) retina-size(-234px);
  }
  &.al {
    width: retina-size(36px);
    height: retina-size(26px);
    background-position: retina-size(-72px) retina-size(-26px);
  }
  &.am {
    width: retina-size(36px);
    height: retina-size(18px);
    background-position: retina-size(-422px) retina-size(0px);
  }
  &.ao {
    width: retina-size(36px);
    height: retina-size(24px);
    background-position: retina-size(-144px) retina-size(-24px);
  }
  &.aq {
    width: retina-size(36px);
    height: retina-size(24px);
    background-position: retina-size(-144px) retina-size(-72px);
  }
  &.ar {
    width: retina-size(36px);
    height: retina-size(23px);
    background-position: retina-size(-33px) retina-size(-320px);
  }
  &.as {
    width: retina-size(36px);
    height: retina-size(18px);
    background-position: retina-size(-180px) retina-size(-394px);
  }
  &.at {
    width: retina-size(36px);
    height: retina-size(24px);
    background-position: retina-size(-36px) retina-size(-176px);
  }
  &.au {
    width: retina-size(36px);
    height: retina-size(18px);
    background-position: retina-size(-422px) retina-size(-72px);
  }
  &.aw {
    width: retina-size(36px);
    height: retina-size(24px);
    background-position: retina-size(-216px) retina-size(-144px);
  }
  &.ax {
    width: retina-size(36px);
    height: retina-size(24px);
    background-position: retina-size(0px) retina-size(-200px);
  }
  &.az {
    width: retina-size(36px);
    height: retina-size(18px);
    background-position: retina-size(-108px) retina-size(-412px);
  }
  &.ba {
    width: retina-size(36px);
    height: retina-size(18px);
    background-position: retina-size(-458px) retina-size(-72px);
  }
  &.bb {
    width: retina-size(36px);
    height: retina-size(24px);
    background-position: retina-size(-252px) retina-size(-120px);
  }
  &.bd {
    width: retina-size(36px);
    height: retina-size(22px);
    background-position: retina-size(-360px) retina-size(0px);
  }
  &.be {
    width: retina-size(30px);
    height: retina-size(26px);
    background-position: retina-size(0px) retina-size(-368px);
  }
  &.bf {
    width: retina-size(36px);
    height: retina-size(24px);
    background-position: retina-size(-288px) retina-size(-96px);
  }
  &.bg {
    width: retina-size(36px);
    height: retina-size(22px);
    background-position: retina-size(-360px) retina-size(-132px);
  }
  &.bh {
    width: retina-size(36px);
    height: retina-size(22px);
    background-position: retina-size(-360px) retina-size(-66px);
  }
  &.bi {
    width: retina-size(36px);
    height: retina-size(22px);
    background-position: retina-size(-108px) retina-size(-346px);
  }
  &.bj {
    width: retina-size(36px);
    height: retina-size(24px);
    background-position: retina-size(-36px) retina-size(-104px);
  }
  &.bl {
    width: retina-size(36px);
    height: retina-size(24px);
    background-position: retina-size(-72px) retina-size(-104px);
  }
  &.bm {
    width: retina-size(36px);
    height: retina-size(18px);
    background-position: retina-size(0px) retina-size(-394px);
  }
  &.bn {
    width: retina-size(36px);
    height: retina-size(18px);
    background-position: retina-size(-72px) retina-size(-394px);
  }
  &.bo {
    width: retina-size(36px);
    height: retina-size(25px);
    background-position: retina-size(-108px) retina-size(-50px);
  }
  &.bq {
    width: retina-size(36px);
    height: retina-size(24px);
    background-position: retina-size(-144px) retina-size(0px);
  }
  &.br {
    width: retina-size(36px);
    height: retina-size(25px);
    background-position: retina-size(-108px) retina-size(-25px);
  }
  &.bs {
    width: retina-size(36px);
    height: retina-size(18px);
    background-position: retina-size(-422px) retina-size(-108px);
  }
  &.bt {
    width: retina-size(36px);
    height: retina-size(24px);
    background-position: retina-size(-144px) retina-size(-48px);
  }
  &.bv {
    width: retina-size(36px);
    height: retina-size(26px);
    background-position: retina-size(-72px) retina-size(0px);
  }
  &.bw {
    width: retina-size(36px);
    height: retina-size(24px);
    background-position: retina-size(-144px) retina-size(-96px);
  }
  &.by {
    width: retina-size(36px);
    height: retina-size(18px);
    background-position: retina-size(-180px) retina-size(-430px);
  }
  &.bz {
    width: retina-size(36px);
    height: retina-size(24px);
    background-position: retina-size(0px) retina-size(-128px);
  }
  &.ca {
    width: retina-size(36px);
    height: retina-size(18px);
    background-position: retina-size(-458px) retina-size(-108px);
  }
  &.cc {
    width: retina-size(36px);
    height: retina-size(18px);
    background-position: retina-size(-458px) retina-size(-216px);
  }
  &.cd {
    width: retina-size(35px);
    height: retina-size(26px);
    background-position: retina-size(-35px) retina-size(-78px);
  }
  &.cf {
    width: retina-size(36px);
    height: retina-size(24px);
    background-position: retina-size(-72px) retina-size(-128px);
  }
  &.cg {
    width: retina-size(36px);
    height: retina-size(24px);
    background-position: retina-size(-108px) retina-size(-128px);
  }
  &.ch {
    width: retina-size(26px);
    height: retina-size(26px);
    background-position: retina-size(-396px) retina-size(0px);
  }
  &.ci {
    width: retina-size(36px);
    height: retina-size(24px);
    background-position: retina-size(0px) retina-size(-152px);
  }
  &.ck {
    width: retina-size(36px);
    height: retina-size(18px);
    background-position: retina-size(-422px) retina-size(-54px);
  }
  &.cl {
    width: retina-size(36px);
    height: retina-size(24px);
    background-position: retina-size(-36px) retina-size(-152px);
  }
  &.cm {
    width: retina-size(36px);
    height: retina-size(24px);
    background-position: retina-size(-72px) retina-size(-152px);
  }
  &.cn {
    width: retina-size(36px);
    height: retina-size(24px);
    background-position: retina-size(-108px) retina-size(-152px);
  }
  &.co {
    width: retina-size(36px);
    height: retina-size(24px);
    background-position: retina-size(-144px) retina-size(-152px);
  }
  &.cp {
    width: retina-size(36px);
    height: retina-size(24px);
    background-position: retina-size(-180px) retina-size(0px);
  }
  &.cr {
    width: retina-size(36px);
    height: retina-size(22px);
    background-position: retina-size(-360px) retina-size(-242px);
  }
  &.cu {
    width: retina-size(36px);
    height: retina-size(18px);
    background-position: retina-size(-252px) retina-size(-430px);
  }
  &.cv {
    width: retina-size(36px);
    height: retina-size(21px);
    background-position: retina-size(-144px) retina-size(-346px);
  }
  &.cw {
    width: retina-size(36px);
    height: retina-size(24px);
    background-position: retina-size(-180px) retina-size(-72px);
  }
  &.cx {
    width: retina-size(36px);
    height: retina-size(18px);
    background-position: retina-size(-458px) retina-size(-144px);
  }
  &.cy {
    width: retina-size(36px);
    height: retina-size(24px);
    background-position: retina-size(-180px) retina-size(-96px);
  }
  &.cz {
    width: retina-size(36px);
    height: retina-size(24px);
    background-position: retina-size(-180px) retina-size(-120px);
  }
  &.de {
    width: retina-size(36px);
    height: retina-size(22px);
    background-position: retina-size(-360px) retina-size(-198px);
  }
  &.dg {
    width: retina-size(36px);
    height: retina-size(18px);
    background-position: retina-size(-36px) retina-size(-394px);
  }
  &.dj {
    width: retina-size(36px);
    height: retina-size(24px);
    background-position: retina-size(0px) retina-size(-176px);
  }
  &.dk {
    width: retina-size(34px);
    height: retina-size(26px);
    background-position: retina-size(-108px) retina-size(-75px);
  }
  &.dm {
    width: retina-size(36px);
    height: retina-size(18px);
    background-position: retina-size(-360px) retina-size(-394px);
  }
  &.do {
    width: retina-size(36px);
    height: retina-size(23px);
    background-position: retina-size(-285px) retina-size(-320px);
  }
  &.dz {
    width: retina-size(36px);
    height: retina-size(24px);
    background-position: retina-size(-108px) retina-size(-176px);
  }
  &.ea {
    width: retina-size(36px);
    height: retina-size(24px);
    background-position: retina-size(-144px) retina-size(-176px);
  }
  &.ec {
    width: retina-size(36px);
    height: retina-size(24px);
    background-position: retina-size(-180px) retina-size(-176px);
  }
  &.ee {
    width: retina-size(36px);
    height: retina-size(23px);
    background-position: retina-size(-249px) retina-size(-320px);
  }
  &.eg {
    width: retina-size(36px);
    height: retina-size(24px);
    background-position: retina-size(-216px) retina-size(-24px);
  }
  &.eh {
    width: retina-size(36px);
    height: retina-size(18px);
    background-position: retina-size(-422px) retina-size(-288px);
  }
  &.er {
    width: retina-size(36px);
    height: retina-size(18px);
    background-position: retina-size(-422px) retina-size(-360px);
  }
  &.es {
    width: retina-size(36px);
    height: retina-size(24px);
    background-position: retina-size(-216px) retina-size(-48px);
  }
  &.et {
    width: retina-size(36px);
    height: retina-size(18px);
    background-position: retina-size(-360px) retina-size(-412px);
  }
  &.eu {
    width: retina-size(36px);
    height: retina-size(24px);
    background-position: retina-size(-216px) retina-size(-72px);
  }
  &.fi {
    width: retina-size(36px);
    height: retina-size(22px);
    background-position: retina-size(-360px) retina-size(-308px);
  }
  &.fj {
    width: retina-size(36px);
    height: retina-size(18px);
    background-position: retina-size(-396px) retina-size(-430px);
  }
  &.fk {
    width: retina-size(36px);
    height: retina-size(18px);
    background-position: retina-size(-458px) retina-size(-18px);
  }
  &.fm {
    width: retina-size(36px);
    height: retina-size(19px);
    background-position: retina-size(-60px) retina-size(-368px);
  }
  &.fo {
    width: retina-size(36px);
    height: retina-size(26px);
    background-position: retina-size(0px) retina-size(0px);
  }
  &.fr {
    width: retina-size(36px);
    height: retina-size(24px);
    background-position: retina-size(-216px) retina-size(-168px);
  }
  &.ga {
    width: retina-size(35px);
    height: retina-size(26px);
    background-position: retina-size(0px) retina-size(-78px);
  }
  &.gb {
    width: retina-size(36px);
    height: retina-size(18px);
    background-position: retina-size(-458px) retina-size(-234px);
  }
  &.gd {
    width: retina-size(36px);
    height: retina-size(22px);
    background-position: retina-size(-360px) retina-size(-264px);
  }
  &.ge {
    width: retina-size(36px);
    height: retina-size(24px);
    background-position: retina-size(-72px) retina-size(-200px);
  }
  &.gf {
    width: retina-size(36px);
    height: retina-size(24px);
    background-position: retina-size(-108px) retina-size(-200px);
  }
  &.gg {
    width: retina-size(36px);
    height: retina-size(24px);
    background-position: retina-size(-144px) retina-size(-200px);
  }
  &.gh {
    width: retina-size(36px);
    height: retina-size(24px);
    background-position: retina-size(-180px) retina-size(-200px);
  }
  &.gi {
    width: retina-size(36px);
    height: retina-size(18px);
    background-position: retina-size(-216px) retina-size(-394px);
  }
  &.gl {
    width: retina-size(36px);
    height: retina-size(24px);
    background-position: retina-size(-216px) retina-size(-200px);
  }
  &.gm {
    width: retina-size(36px);
    height: retina-size(24px);
    background-position: retina-size(0px) retina-size(-224px);
  }
  &.gn {
    width: retina-size(36px);
    height: retina-size(24px);
    background-position: retina-size(-36px) retina-size(-224px);
  }
  &.gp {
    width: retina-size(36px);
    height: retina-size(24px);
    background-position: retina-size(-72px) retina-size(-224px);
  }
  &.gq {
    width: retina-size(36px);
    height: retina-size(24px);
    background-position: retina-size(-108px) retina-size(-224px);
  }
  &.gr {
    width: retina-size(36px);
    height: retina-size(24px);
    background-position: retina-size(-144px) retina-size(-224px);
  }
  &.gs {
    width: retina-size(36px);
    height: retina-size(18px);
    background-position: retina-size(-422px) retina-size(-216px);
  }
  &.gt {
    width: retina-size(36px);
    height: retina-size(23px);
    background-position: retina-size(-213px) retina-size(-320px);
  }
  &.gu {
    width: retina-size(36px);
    height: retina-size(19px);
    background-position: retina-size(-96px) retina-size(-368px);
  }
  &.gw {
    width: retina-size(36px);
    height: retina-size(18px);
    background-position: retina-size(-422px) retina-size(-342px);
  }
  &.gy {
    width: retina-size(36px);
    height: retina-size(22px);
    background-position: retina-size(-360px) retina-size(-176px);
  }
  &.hk {
    width: retina-size(36px);
    height: retina-size(24px);
    background-position: retina-size(-252px) retina-size(-24px);
  }
  &.hm {
    width: retina-size(36px);
    height: retina-size(18px);
    background-position: retina-size(-144px) retina-size(-412px);
  }
  &.hn {
    width: retina-size(36px);
    height: retina-size(18px);
    background-position: retina-size(-180px) retina-size(-412px);
  }
  &.hr {
    width: retina-size(36px);
    height: retina-size(18px);
    background-position: retina-size(-324px) retina-size(-412px);
  }
  &.ht {
    width: retina-size(36px);
    height: retina-size(22px);
    background-position: retina-size(-321px) retina-size(-320px);
  }
  &.hu {
    width: retina-size(36px);
    height: retina-size(18px);
    background-position: retina-size(0px) retina-size(-430px);
  }
  &.ic {
    width: retina-size(36px);
    height: retina-size(24px);
    background-position: retina-size(-252px) retina-size(-72px);
  }
  &.id {
    width: retina-size(36px);
    height: retina-size(24px);
    background-position: retina-size(-252px) retina-size(-96px);
  }
  &.ie {
    width: retina-size(36px);
    height: retina-size(18px);
    background-position: retina-size(-360px) retina-size(-430px);
  }
  &.il {
    width: retina-size(36px);
    height: retina-size(26px);
    background-position: retina-size(0px) retina-size(-52px);
  }
  &.im {
    width: retina-size(36px);
    height: retina-size(18px);
    background-position: retina-size(-458px) retina-size(0px);
  }
  &.in {
    width: retina-size(36px);
    height: retina-size(24px);
    background-position: retina-size(-252px) retina-size(-144px);
  }
  &.io {
    width: retina-size(36px);
    height: retina-size(18px);
    background-position: retina-size(-458px) retina-size(-36px);
  }
  &.iq {
    width: retina-size(36px);
    height: retina-size(24px);
    background-position: retina-size(-252px) retina-size(-168px);
  }
  &.ir {
    width: retina-size(36px);
    height: retina-size(21px);
    background-position: retina-size(-180px) retina-size(-346px);
  }
  &.is {
    width: retina-size(36px);
    height: retina-size(26px);
    background-position: retina-size(-36px) retina-size(-52px);
  }
  &.it {
    width: retina-size(36px);
    height: retina-size(24px);
    background-position: retina-size(0px) retina-size(-248px);
  }
  &.je {
    width: retina-size(36px);
    height: retina-size(22px);
    background-position: retina-size(-360px) retina-size(-110px);
  }
  &.jm {
    width: retina-size(36px);
    height: retina-size(18px);
    background-position: retina-size(-458px) retina-size(-270px);
  }
  &.jo {
    width: retina-size(36px);
    height: retina-size(18px);
    background-position: retina-size(-458px) retina-size(-288px);
  }
  &.jp {
    width: retina-size(36px);
    height: retina-size(24px);
    background-position: retina-size(-72px) retina-size(-248px);
  }
  &.ke {
    width: retina-size(36px);
    height: retina-size(24px);
    background-position: retina-size(-108px) retina-size(-248px);
  }
  &.kg {
    width: retina-size(36px);
    height: retina-size(22px);
    background-position: retina-size(-360px) retina-size(-88px);
  }
  &.kh {
    width: retina-size(36px);
    height: retina-size(23px);
    background-position: retina-size(-105px) retina-size(-320px);
  }
  &.ki {
    width: retina-size(36px);
    height: retina-size(18px);
    background-position: retina-size(-144px) retina-size(-394px);
  }
  &.km {
    width: retina-size(36px);
    height: retina-size(22px);
    background-position: retina-size(-360px) retina-size(-44px);
  }
  &.kn {
    width: retina-size(36px);
    height: retina-size(24px);
    background-position: retina-size(0px) retina-size(-104px);
  }
  &.kp {
    width: retina-size(36px);
    height: retina-size(18px);
    background-position: retina-size(-288px) retina-size(-394px);
  }
  &.kr {
    width: retina-size(36px);
    height: retina-size(24px);
    background-position: retina-size(-288px) retina-size(0px);
  }
  &.kw {
    width: retina-size(36px);
    height: retina-size(18px);
    background-position: retina-size(-204px) retina-size(-368px);
  }
  &.ky {
    width: retina-size(36px);
    height: retina-size(18px);
    background-position: retina-size(-422px) retina-size(-18px);
  }
  &.kz {
    width: retina-size(36px);
    height: retina-size(18px);
    background-position: retina-size(-422px) retina-size(-36px);
  }
  &.la {
    width: retina-size(36px);
    height: retina-size(24px);
    background-position: retina-size(-288px) retina-size(-48px);
  }
  &.lb {
    width: retina-size(36px);
    height: retina-size(24px);
    background-position: retina-size(-288px) retina-size(-72px);
  }
  &.lc {
    width: retina-size(36px);
    height: retina-size(18px);
    background-position: retina-size(-422px) retina-size(-90px);
  }
  &.li {
    width: retina-size(36px);
    height: retina-size(22px);
    background-position: retina-size(-360px) retina-size(-22px);
  }
  &.lk {
    width: retina-size(36px);
    height: retina-size(18px);
    background-position: retina-size(-422px) retina-size(-126px);
  }
  &.lr {
    width: retina-size(36px);
    height: retina-size(19px);
    background-position: retina-size(-132px) retina-size(-368px);
  }
  &.ls {
    width: retina-size(36px);
    height: retina-size(24px);
    background-position: retina-size(-288px) retina-size(-144px);
  }
  &.lt {
    width: retina-size(36px);
    height: retina-size(22px);
    background-position: retina-size(-72px) retina-size(-346px);
  }
  &.lu {
    width: retina-size(36px);
    height: retina-size(22px);
    background-position: retina-size(-36px) retina-size(-346px);
  }
  &.lv {
    width: retina-size(36px);
    height: retina-size(18px);
    background-position: retina-size(-422px) retina-size(-306px);
  }
  &.ly {
    width: retina-size(36px);
    height: retina-size(18px);
    background-position: retina-size(-422px) retina-size(-324px);
  }
  &.ma {
    width: retina-size(36px);
    height: retina-size(24px);
    background-position: retina-size(-288px) retina-size(-216px);
  }
  &.mc {
    width: retina-size(33px);
    height: retina-size(26px);
    background-position: retina-size(0px) retina-size(-320px);
  }
  &.md {
    width: retina-size(36px);
    height: retina-size(18px);
    background-position: retina-size(-422px) retina-size(-378px);
  }
  &.me {
    width: retina-size(36px);
    height: retina-size(18px);
    background-position: retina-size(0px) retina-size(-412px);
  }
  &.mf {
    width: retina-size(36px);
    height: retina-size(24px);
    background-position: retina-size(0px) retina-size(-272px);
  }
  &.mg {
    width: retina-size(36px);
    height: retina-size(24px);
    background-position: retina-size(-36px) retina-size(-272px);
  }
  &.mh {
    width: retina-size(36px);
    height: retina-size(19px);
    background-position: retina-size(-168px) retina-size(-368px);
  }
  &.mk {
    width: retina-size(36px);
    height: retina-size(18px);
    background-position: retina-size(-216px) retina-size(-412px);
  }
  &.ml {
    width: retina-size(36px);
    height: retina-size(24px);
    background-position: retina-size(-108px) retina-size(-272px);
  }
  &.mm {
    width: retina-size(36px);
    height: retina-size(24px);
    background-position: retina-size(-144px) retina-size(-272px);
  }
  &.mn {
    width: retina-size(36px);
    height: retina-size(18px);
    background-position: retina-size(-396px) retina-size(-412px);
  }
  &.mo {
    width: retina-size(36px);
    height: retina-size(24px);
    background-position: retina-size(-180px) retina-size(-272px);
  }
  &.mp {
    width: retina-size(36px);
    height: retina-size(18px);
    background-position: retina-size(-144px) retina-size(-430px);
  }
  &.mq {
    width: retina-size(36px);
    height: retina-size(24px);
    background-position: retina-size(-216px) retina-size(-272px);
  }
  &.mr {
    width: retina-size(36px);
    height: retina-size(24px);
    background-position: retina-size(-252px) retina-size(-272px);
  }
  &.ms {
    width: retina-size(36px);
    height: retina-size(18px);
    background-position: retina-size(-288px) retina-size(-430px);
  }
  &.mt {
    width: retina-size(36px);
    height: retina-size(24px);
    background-position: retina-size(-288px) retina-size(-272px);
  }
  &.mu {
    width: retina-size(36px);
    height: retina-size(24px);
    background-position: retina-size(0px) retina-size(-296px);
  }
  &.mv {
    width: retina-size(36px);
    height: retina-size(24px);
    background-position: retina-size(-36px) retina-size(-296px);
  }
  &.mw {
    width: retina-size(36px);
    height: retina-size(24px);
    background-position: retina-size(-72px) retina-size(-296px);
  }
  &.mx {
    width: retina-size(36px);
    height: retina-size(21px);
    background-position: retina-size(-216px) retina-size(-346px);
  }
  &.my {
    width: retina-size(36px);
    height: retina-size(18px);
    background-position: retina-size(-458px) retina-size(-54px);
  }
  &.mz {
    width: retina-size(36px);
    height: retina-size(24px);
    background-position: retina-size(-144px) retina-size(-296px);
  }
  &.na {
    width: retina-size(36px);
    height: retina-size(24px);
    background-position: retina-size(-180px) retina-size(-296px);
  }
  &.nc {
    width: retina-size(36px);
    height: retina-size(18px);
    background-position: retina-size(-458px) retina-size(-126px);
  }
  &.ne {
    width: retina-size(30px);
    height: retina-size(26px);
    background-position: retina-size(-30px) retina-size(-368px);
  }
  &.nf {
    width: retina-size(36px);
    height: retina-size(18px);
    background-position: retina-size(-458px) retina-size(-180px);
  }
  &.ng {
    width: retina-size(36px);
    height: retina-size(18px);
    background-position: retina-size(-458px) retina-size(-198px);
  }
  &.ni {
    width: retina-size(36px);
    height: retina-size(22px);
    background-position: retina-size(-360px) retina-size(-220px);
  }
  &.nl {
    width: retina-size(36px);
    height: retina-size(24px);
    background-position: retina-size(-288px) retina-size(-296px);
  }
  &.no {
    width: retina-size(36px);
    height: retina-size(26px);
    background-position: retina-size(0px) retina-size(-26px);
  }
  &.np {
    width: retina-size(21px);
    height: retina-size(26px);
    background-position: retina-size(-458px) retina-size(-342px);
  }
  &.nr {
    width: retina-size(36px);
    height: retina-size(18px);
    background-position: retina-size(-458px) retina-size(-306px);
  }
  &.nu {
    width: retina-size(36px);
    height: retina-size(18px);
    background-position: retina-size(-240px) retina-size(-368px);
  }
  &.nz {
    width: retina-size(36px);
    height: retina-size(18px);
    background-position: retina-size(-276px) retina-size(-368px);
  }
  &.om {
    width: retina-size(36px);
    height: retina-size(18px);
    background-position: retina-size(-312px) retina-size(-368px);
  }
  &.pa {
    width: retina-size(36px);
    height: retina-size(24px);
    background-position: retina-size(-324px) retina-size(-48px);
  }
  &.pe {
    width: retina-size(36px);
    height: retina-size(24px);
    background-position: retina-size(-324px) retina-size(-72px);
  }
  &.pf {
    width: retina-size(36px);
    height: retina-size(24px);
    background-position: retina-size(-324px) retina-size(-96px);
  }
  &.pg {
    width: retina-size(35px);
    height: retina-size(26px);
    background-position: retina-size(-72px) retina-size(-52px);
  }
  &.ph {
    width: retina-size(36px);
    height: retina-size(18px);
    background-position: retina-size(-108px) retina-size(-394px);
  }
  &.pk {
    width: retina-size(36px);
    height: retina-size(24px);
    background-position: retina-size(-324px) retina-size(-144px);
  }
  &.pl {
    width: retina-size(36px);
    height: retina-size(23px);
    background-position: retina-size(-141px) retina-size(-320px);
  }
  &.pm {
    width: retina-size(36px);
    height: retina-size(24px);
    background-position: retina-size(-324px) retina-size(-192px);
  }
  &.pn {
    width: retina-size(36px);
    height: retina-size(18px);
    background-position: retina-size(-252px) retina-size(-394px);
  }
  &.pr {
    width: retina-size(36px);
    height: retina-size(24px);
    background-position: retina-size(-324px) retina-size(-216px);
  }
  &.ps {
    width: retina-size(36px);
    height: retina-size(18px);
    background-position: retina-size(-324px) retina-size(-394px);
  }
  &.pt {
    width: retina-size(36px);
    height: retina-size(24px);
    background-position: retina-size(-324px) retina-size(-240px);
  }
  &.pw {
    width: retina-size(36px);
    height: retina-size(23px);
    background-position: retina-size(-177px) retina-size(-320px);
  }
  &.py {
    width: retina-size(36px);
    height: retina-size(20px);
    background-position: retina-size(-288px) retina-size(-346px);
  }
  &.qa {
    width: retina-size(36px);
    height: retina-size(14px);
    background-position: retina-size(-458px) retina-size(-368px);
  }
  &.re {
    width: retina-size(36px);
    height: retina-size(24px);
    background-position: retina-size(-324px) retina-size(-264px);
  }
  &.ro {
    width: retina-size(36px);
    height: retina-size(24px);
    background-position: retina-size(-324px) retina-size(-168px);
  }
  &.rs {
    width: retina-size(36px);
    height: retina-size(24px);
    background-position: retina-size(-252px) retina-size(-296px);
  }
  &.ru {
    width: retina-size(36px);
    height: retina-size(24px);
    background-position: retina-size(-216px) retina-size(-296px);
  }
  &.rw {
    width: retina-size(36px);
    height: retina-size(24px);
    background-position: retina-size(-108px) retina-size(-296px);
  }
  &.sa {
    width: retina-size(36px);
    height: retina-size(24px);
    background-position: retina-size(-72px) retina-size(-272px);
  }
  &.sb {
    width: retina-size(36px);
    height: retina-size(18px);
    background-position: retina-size(-422px) retina-size(-162px);
  }
  &.sc {
    width: retina-size(36px);
    height: retina-size(18px);
    background-position: retina-size(-422px) retina-size(-180px);
  }
  &.sd {
    width: retina-size(36px);
    height: retina-size(18px);
    background-position: retina-size(-422px) retina-size(-198px);
  }
  &.se {
    width: retina-size(36px);
    height: retina-size(23px);
    background-position: retina-size(-69px) retina-size(-320px);
  }
  &.sg {
    width: retina-size(36px);
    height: retina-size(24px);
    background-position: retina-size(-288px) retina-size(-240px);
  }
  &.sh {
    width: retina-size(36px);
    height: retina-size(18px);
    background-position: retina-size(-422px) retina-size(-252px);
  }
  &.si {
    width: retina-size(36px);
    height: retina-size(18px);
    background-position: retina-size(-422px) retina-size(-270px);
  }
  &.sj {
    width: retina-size(36px);
    height: retina-size(26px);
    background-position: retina-size(-36px) retina-size(-26px);
  }
  &.sk {
    width: retina-size(36px);
    height: retina-size(24px);
    background-position: retina-size(-288px) retina-size(-168px);
  }
  &.sl {
    width: retina-size(36px);
    height: retina-size(24px);
    background-position: retina-size(-288px) retina-size(-120px);
  }
  &.sm {
    width: retina-size(35px);
    height: retina-size(26px);
    background-position: retina-size(-70px) retina-size(-78px);
  }
  &.sn {
    width: retina-size(36px);
    height: retina-size(24px);
    background-position: retina-size(-216px) retina-size(-248px);
  }
  &.so {
    width: retina-size(36px);
    height: retina-size(24px);
    background-position: retina-size(-180px) retina-size(-248px);
  }
  &.sr {
    width: retina-size(36px);
    height: retina-size(24px);
    background-position: retina-size(-144px) retina-size(-248px);
  }
  &.ss {
    width: retina-size(36px);
    height: retina-size(18px);
    background-position: retina-size(-36px) retina-size(-412px);
  }
  &.st {
    width: retina-size(36px);
    height: retina-size(18px);
    background-position: retina-size(-72px) retina-size(-412px);
  }
  &.sv {
    width: retina-size(36px);
    height: retina-size(20px);
    background-position: retina-size(-252px) retina-size(-346px);
  }
  &.sx {
    width: retina-size(36px);
    height: retina-size(24px);
    background-position: retina-size(-36px) retina-size(-248px);
  }
  &.sy {
    width: retina-size(36px);
    height: retina-size(24px);
    background-position: retina-size(-252px) retina-size(-192px);
  }
  &.sz {
    width: retina-size(36px);
    height: retina-size(24px);
    background-position: retina-size(-252px) retina-size(-48px);
  }
  &.ta {
    width: retina-size(36px);
    height: retina-size(18px);
    background-position: retina-size(-252px) retina-size(-412px);
  }
  &.tc {
    width: retina-size(36px);
    height: retina-size(18px);
    background-position: retina-size(-288px) retina-size(-412px);
  }
  &.td {
    width: retina-size(36px);
    height: retina-size(24px);
    background-position: retina-size(-252px) retina-size(0px);
  }
  &.tf {
    width: retina-size(36px);
    height: retina-size(24px);
    background-position: retina-size(-216px) retina-size(-224px);
  }
  &.tg {
    width: retina-size(36px);
    height: retina-size(22px);
    background-position: retina-size(-360px) retina-size(-154px);
  }
  &.th {
    width: retina-size(36px);
    height: retina-size(24px);
    background-position: retina-size(-180px) retina-size(-224px);
  }
  &.tj {
    width: retina-size(36px);
    height: retina-size(18px);
    background-position: retina-size(-36px) retina-size(-430px);
  }
  &.tk {
    width: retina-size(36px);
    height: retina-size(18px);
    background-position: retina-size(-72px) retina-size(-430px);
  }
  &.tl {
    width: retina-size(36px);
    height: retina-size(18px);
    background-position: retina-size(-108px) retina-size(-430px);
  }
  &.tm {
    width: retina-size(36px);
    height: retina-size(24px);
    background-position: retina-size(-36px) retina-size(-200px);
  }
  &.tn {
    width: retina-size(36px);
    height: retina-size(24px);
    background-position: retina-size(-216px) retina-size(-120px);
  }
  &.to {
    width: retina-size(36px);
    height: retina-size(18px);
    background-position: retina-size(-216px) retina-size(-430px);
  }
  &.tr {
    width: retina-size(36px);
    height: retina-size(24px);
    background-position: retina-size(-216px) retina-size(-96px);
  }
  &.tt {
    width: retina-size(36px);
    height: retina-size(22px);
    background-position: retina-size(0px) retina-size(-346px);
  }
  &.tv {
    width: retina-size(36px);
    height: retina-size(18px);
    background-position: retina-size(-324px) retina-size(-430px);
  }
  &.tw {
    width: retina-size(36px);
    height: retina-size(24px);
    background-position: retina-size(-216px) retina-size(0px);
  }
  &.tz {
    width: retina-size(36px);
    height: retina-size(24px);
    background-position: retina-size(-72px) retina-size(-176px);
  }
  &.ua {
    width: retina-size(36px);
    height: retina-size(24px);
    background-position: retina-size(-180px) retina-size(-144px);
  }
  &.ug {
    width: retina-size(36px);
    height: retina-size(24px);
    background-position: retina-size(-180px) retina-size(-48px);
  }
  &.um {
    width: retina-size(36px);
    height: retina-size(19px);
    background-position: retina-size(-360px) retina-size(-346px);
  }
  &.us {
    width: retina-size(36px);
    height: retina-size(19px);
    background-position: retina-size(-324px) retina-size(-346px);
  }
  &.uy {
    width: retina-size(36px);
    height: retina-size(24px);
    background-position: retina-size(-180px) retina-size(-24px);
  }
  &.uz {
    width: retina-size(36px);
    height: retina-size(18px);
    background-position: retina-size(-458px) retina-size(-90px);
  }
  &.va {
    width: retina-size(26px);
    height: retina-size(26px);
    background-position: retina-size(-396px) retina-size(-26px);
  }
  &.vc {
    width: retina-size(36px);
    height: retina-size(24px);
    background-position: retina-size(-144px) retina-size(-128px);
  }
  &.ve {
    width: retina-size(36px);
    height: retina-size(24px);
    background-position: retina-size(-324px) retina-size(-120px);
  }
  &.vg {
    width: retina-size(36px);
    height: retina-size(18px);
    background-position: retina-size(-458px) retina-size(-162px);
  }
  &.vi {
    width: retina-size(36px);
    height: retina-size(24px);
    background-position: retina-size(-324px) retina-size(0px);
  }
  &.vn {
    width: retina-size(36px);
    height: retina-size(24px);
    background-position: retina-size(-288px) retina-size(-192px);
  }
  &.vu {
    width: retina-size(36px);
    height: retina-size(22px);
    background-position: retina-size(-360px) retina-size(-286px);
  }
  &.wf {
    width: retina-size(36px);
    height: retina-size(24px);
    background-position: retina-size(-288px) retina-size(-24px);
  }
  &.ws {
    width: retina-size(36px);
    height: retina-size(18px);
    background-position: retina-size(-458px) retina-size(-252px);
  }
  &.xk {
    width: retina-size(36px);
    height: retina-size(26px);
    background-position: retina-size(-36px) retina-size(0px);
  }
  &.ye {
    width: retina-size(36px);
    height: retina-size(24px);
    background-position: retina-size(-36px) retina-size(-128px);
  }
  &.yt {
    width: retina-size(36px);
    height: retina-size(24px);
    background-position: retina-size(-108px) retina-size(-104px);
  }
  &.za {
    width: retina-size(36px);
    height: retina-size(24px);
    background-position: retina-size(-324px) retina-size(-288px);
  }
  &.zm {
    width: retina-size(36px);
    height: retina-size(24px);
    background-position: retina-size(-324px) retina-size(-24px);
  }
  &.zw {
    width: retina-size(36px);
    height: retina-size(18px);
    background-position: retina-size(-458px) retina-size(-324px);
  }
}
