@function strip-units($value) {
  @return $value / ($value * 0 + 1);
}

@function retina-size($value) {
  @return strip-units($value)/2 + px;
}

@mixin retina-bg-size($spriteWidth, $spriteHeight) {
  background-size: (strip-units($spriteWidth)/2) + px (strip-units($spriteHeight)/2) + px;
}

.iti-flag {
  @media
  only screen and (-webkit-min-device-pixel-ratio: 2),
  only screen and (   min--moz-device-pixel-ratio: 2),
  only screen and (     -o-min-device-pixel-ratio: 2/1),
  only screen and (        min-device-pixel-ratio: 2),
  only screen and (                min-resolution: 192dpi),
  only screen and (                min-resolution: 2dppx) {
    @include retina-bg-size(576px, 532px);
  }

  &.ac {
    width: retina-size(40px);
    height: retina-size(20px);
    background-position: retina-size(-378px) retina-size(-445px);
  }
  &.ad {
    width: retina-size(40px);
    height: retina-size(28px);
    background-position: retina-size(-126px) retina-size(-63px);
  }
  &.ae {
    width: retina-size(40px);
    height: retina-size(20px);
    background-position: retina-size(-494px) retina-size(-154px);
  }
  &.af {
    width: retina-size(40px);
    height: retina-size(27px);
    background-position: retina-size(-294px) retina-size(-300px);
  }
  &.ag {
    width: retina-size(40px);
    height: retina-size(27px);
    background-position: retina-size(-126px) retina-size(-271px);
  }
  &.ai {
    width: retina-size(40px);
    height: retina-size(20px);
    background-position: retina-size(-494px) retina-size(-264px);
  }
  &.al {
    width: retina-size(40px);
    height: retina-size(29px);
    background-position: retina-size(-84px) retina-size(-64px);
  }
  &.am {
    width: retina-size(40px);
    height: retina-size(20px);
    background-position: retina-size(-420px) retina-size(-468px);
  }
  &.ao {
    width: retina-size(40px);
    height: retina-size(27px);
    background-position: retina-size(-168px) retina-size(-87px);
  }
  &.aq {
    width: retina-size(40px);
    height: retina-size(27px);
    background-position: retina-size(-42px) retina-size(-155px);
  }
  &.ar {
    width: retina-size(40px);
    height: retina-size(25px);
    background-position: retina-size(-200px) retina-size(-387px);
  }
  &.as {
    width: retina-size(40px);
    height: retina-size(20px);
    background-position: retina-size(-168px) retina-size(-468px);
  }
  &.at {
    width: retina-size(40px);
    height: retina-size(27px);
    background-position: retina-size(-252px) retina-size(-174px);
  }
  &.au {
    width: retina-size(40px);
    height: retina-size(20px);
    background-position: retina-size(-494px) retina-size(-66px);
  }
  &.aw {
    width: retina-size(40px);
    height: retina-size(27px);
    background-position: retina-size(0px) retina-size(-242px);
  }
  &.ax {
    width: retina-size(40px);
    height: retina-size(26px);
    background-position: retina-size(-74px) retina-size(-387px);
  }
  &.az {
    width: retina-size(40px);
    height: retina-size(20px);
    background-position: retina-size(-84px) retina-size(-490px);
  }
  &.ba {
    width: retina-size(40px);
    height: retina-size(20px);
    background-position: retina-size(-536px) retina-size(-66px);
  }
  &.bb {
    width: retina-size(40px);
    height: retina-size(27px);
    background-position: retina-size(-294px) retina-size(-271px);
  }
  &.bd {
    width: retina-size(40px);
    height: retina-size(24px);
    background-position: retina-size(-420px) retina-size(-236px);
  }
  &.be {
    width: retina-size(35px);
    height: retina-size(30px);
    background-position: retina-size(0px) retina-size(-387px);
  }
  &.bf {
    width: retina-size(40px);
    height: retina-size(27px);
    background-position: retina-size(-336px) retina-size(-203px);
  }
  &.bg {
    width: retina-size(40px);
    height: retina-size(24px);
    background-position: retina-size(-420px) retina-size(-132px);
  }
  &.bh {
    width: retina-size(40px);
    height: retina-size(24px);
    background-position: retina-size(-420px) retina-size(-158px);
  }
  &.bi {
    width: retina-size(40px);
    height: retina-size(24px);
    background-position: retina-size(-420px) retina-size(-288px);
  }
  &.bj {
    width: retina-size(40px);
    height: retina-size(27px);
    background-position: retina-size(-42px) retina-size(-126px);
  }
  &.bl {
    width: retina-size(40px);
    height: retina-size(27px);
    background-position: retina-size(-84px) retina-size(-126px);
  }
  &.bm {
    width: retina-size(40px);
    height: retina-size(20px);
    background-position: retina-size(-420px) retina-size(-445px);
  }
  &.bn {
    width: retina-size(40px);
    height: retina-size(20px);
    background-position: retina-size(-42px) retina-size(-468px);
  }
  &.bo {
    width: retina-size(40px);
    height: retina-size(27px);
    background-position: retina-size(-126px) retina-size(-126px);
  }
  &.bq {
    width: retina-size(40px);
    height: retina-size(27px);
    background-position: retina-size(-168px) retina-size(0px);
  }
  &.br {
    width: retina-size(40px);
    height: retina-size(28px);
    background-position: retina-size(-126px) retina-size(-93px);
  }
  &.bs {
    width: retina-size(40px);
    height: retina-size(20px);
    background-position: retina-size(-494px) retina-size(-110px);
  }
  &.bt {
    width: retina-size(40px);
    height: retina-size(27px);
    background-position: retina-size(-168px) retina-size(-58px);
  }
  &.bv {
    width: retina-size(40px);
    height: retina-size(29px);
    background-position: retina-size(0px) retina-size(-64px);
  }
  &.bw {
    width: retina-size(40px);
    height: retina-size(27px);
    background-position: retina-size(-168px) retina-size(-116px);
  }
  &.by {
    width: retina-size(40px);
    height: retina-size(20px);
    background-position: retina-size(-168px) retina-size(-512px);
  }
  &.bz {
    width: retina-size(40px);
    height: retina-size(27px);
    background-position: retina-size(0px) retina-size(-155px);
  }
  &.ca {
    width: retina-size(40px);
    height: retina-size(20px);
    background-position: retina-size(-536px) retina-size(-110px);
  }
  &.cc {
    width: retina-size(40px);
    height: retina-size(20px);
    background-position: retina-size(-536px) retina-size(-242px);
  }
  &.cd {
    width: retina-size(40px);
    height: retina-size(30px);
    background-position: retina-size(-84px) retina-size(0px);
  }
  &.cf {
    width: retina-size(40px);
    height: retina-size(27px);
    background-position: retina-size(-84px) retina-size(-155px);
  }
  &.cg {
    width: retina-size(40px);
    height: retina-size(27px);
    background-position: retina-size(-126px) retina-size(-155px);
  }
  &.ch {
    width: retina-size(30px);
    height: retina-size(30px);
    background-position: retina-size(-462px) retina-size(0px);
  }
  &.ci {
    width: retina-size(40px);
    height: retina-size(27px);
    background-position: retina-size(-210px) retina-size(0px);
  }
  &.ck {
    width: retina-size(40px);
    height: retina-size(20px);
    background-position: retina-size(-494px) retina-size(-44px);
  }
  &.cl {
    width: retina-size(40px);
    height: retina-size(27px);
    background-position: retina-size(-210px) retina-size(-29px);
  }
  &.cm {
    width: retina-size(40px);
    height: retina-size(27px);
    background-position: retina-size(-210px) retina-size(-58px);
  }
  &.cn {
    width: retina-size(40px);
    height: retina-size(27px);
    background-position: retina-size(-210px) retina-size(-87px);
  }
  &.co {
    width: retina-size(40px);
    height: retina-size(27px);
    background-position: retina-size(-210px) retina-size(-116px);
  }
  &.cp {
    width: retina-size(40px);
    height: retina-size(27px);
    background-position: retina-size(-210px) retina-size(-145px);
  }
  &.cr {
    width: retina-size(40px);
    height: retina-size(24px);
    background-position: retina-size(-168px) retina-size(-419px);
  }
  &.cu {
    width: retina-size(40px);
    height: retina-size(20px);
    background-position: retina-size(-252px) retina-size(-512px);
  }
  &.cv {
    width: retina-size(40px);
    height: retina-size(24px);
    background-position: retina-size(-126px) retina-size(-419px);
  }
  &.cw {
    width: retina-size(40px);
    height: retina-size(27px);
    background-position: retina-size(-84px) retina-size(-184px);
  }
  &.cx {
    width: retina-size(40px);
    height: retina-size(20px);
    background-position: retina-size(-536px) retina-size(-154px);
  }
  &.cy {
    width: retina-size(40px);
    height: retina-size(27px);
    background-position: retina-size(-126px) retina-size(-184px);
  }
  &.cz {
    width: retina-size(40px);
    height: retina-size(27px);
    background-position: retina-size(-168px) retina-size(-184px);
  }
  &.de {
    width: retina-size(40px);
    height: retina-size(24px);
    background-position: retina-size(-84px) retina-size(-419px);
  }
  &.dg {
    width: retina-size(40px);
    height: retina-size(20px);
    background-position: retina-size(0px) retina-size(-468px);
  }
  &.dj {
    width: retina-size(40px);
    height: retina-size(27px);
    background-position: retina-size(0px) retina-size(-213px);
  }
  &.dk {
    width: retina-size(40px);
    height: retina-size(30px);
    background-position: retina-size(-42px) retina-size(-32px);
  }
  &.dm {
    width: retina-size(40px);
    height: retina-size(20px);
    background-position: retina-size(-378px) retina-size(-468px);
  }
  &.do {
    width: retina-size(40px);
    height: retina-size(25px);
    background-position: retina-size(-420px) retina-size(-27px);
  }
  &.dz {
    width: retina-size(40px);
    height: retina-size(27px);
    background-position: retina-size(-126px) retina-size(-213px);
  }
  &.ea {
    width: retina-size(40px);
    height: retina-size(27px);
    background-position: retina-size(-168px) retina-size(-213px);
  }
  &.ec {
    width: retina-size(40px);
    height: retina-size(27px);
    background-position: retina-size(-210px) retina-size(-213px);
  }
  &.ee {
    width: retina-size(40px);
    height: retina-size(25px);
    background-position: retina-size(-420px) retina-size(0px);
  }
  &.eg {
    width: retina-size(40px);
    height: retina-size(27px);
    background-position: retina-size(-252px) retina-size(-29px);
  }
  &.eh {
    width: retina-size(40px);
    height: retina-size(20px);
    background-position: retina-size(-494px) retina-size(-330px);
  }
  &.er {
    width: retina-size(40px);
    height: retina-size(20px);
    background-position: retina-size(-494px) retina-size(-418px);
  }
  &.es {
    width: retina-size(40px);
    height: retina-size(27px);
    background-position: retina-size(-252px) retina-size(-58px);
  }
  &.et {
    width: retina-size(40px);
    height: retina-size(20px);
    background-position: retina-size(-378px) retina-size(-490px);
  }
  &.eu {
    width: retina-size(40px);
    height: retina-size(27px);
    background-position: retina-size(-252px) retina-size(-87px);
  }
  &.fi {
    width: retina-size(40px);
    height: retina-size(24px);
    background-position: retina-size(-420px) retina-size(-366px);
  }
  &.fj {
    width: retina-size(40px);
    height: retina-size(20px);
    background-position: retina-size(-420px) retina-size(-512px);
  }
  &.fk {
    width: retina-size(40px);
    height: retina-size(20px);
    background-position: retina-size(-536px) retina-size(0px);
  }
  &.fm {
    width: retina-size(40px);
    height: retina-size(21px);
    background-position: retina-size(-42px) retina-size(-445px);
  }
  &.fo {
    width: retina-size(40px);
    height: retina-size(29px);
    background-position: retina-size(-42px) retina-size(-64px);
  }
  &.fr {
    width: retina-size(40px);
    height: retina-size(27px);
    background-position: retina-size(-252px) retina-size(-203px);
  }
  &.ga {
    width: retina-size(40px);
    height: retina-size(30px);
    background-position: retina-size(0px) retina-size(0px);
  }
  &.gb {
    width: retina-size(40px);
    height: retina-size(20px);
    background-position: retina-size(-536px) retina-size(-264px);
  }
  &.gd {
    width: retina-size(40px);
    height: retina-size(24px);
    background-position: retina-size(-420px) retina-size(-314px);
  }
  &.ge {
    width: retina-size(40px);
    height: retina-size(27px);
    background-position: retina-size(-84px) retina-size(-242px);
  }
  &.gf {
    width: retina-size(40px);
    height: retina-size(27px);
    background-position: retina-size(-126px) retina-size(-242px);
  }
  &.gg {
    width: retina-size(40px);
    height: retina-size(27px);
    background-position: retina-size(-168px) retina-size(-242px);
  }
  &.gh {
    width: retina-size(40px);
    height: retina-size(27px);
    background-position: retina-size(-210px) retina-size(-242px);
  }
  &.gi {
    width: retina-size(40px);
    height: retina-size(20px);
    background-position: retina-size(-210px) retina-size(-468px);
  }
  &.gl {
    width: retina-size(40px);
    height: retina-size(27px);
    background-position: retina-size(-252px) retina-size(-242px);
  }
  &.gm {
    width: retina-size(40px);
    height: retina-size(27px);
    background-position: retina-size(-294px) retina-size(0px);
  }
  &.gn {
    width: retina-size(40px);
    height: retina-size(27px);
    background-position: retina-size(-294px) retina-size(-29px);
  }
  &.gp {
    width: retina-size(40px);
    height: retina-size(27px);
    background-position: retina-size(-294px) retina-size(-58px);
  }
  &.gq {
    width: retina-size(40px);
    height: retina-size(27px);
    background-position: retina-size(-294px) retina-size(-87px);
  }
  &.gr {
    width: retina-size(40px);
    height: retina-size(27px);
    background-position: retina-size(-294px) retina-size(-116px);
  }
  &.gs {
    width: retina-size(40px);
    height: retina-size(20px);
    background-position: retina-size(-494px) retina-size(-242px);
  }
  &.gt {
    width: retina-size(40px);
    height: retina-size(25px);
    background-position: retina-size(-326px) retina-size(-387px);
  }
  &.gu {
    width: retina-size(40px);
    height: retina-size(21px);
    background-position: retina-size(-84px) retina-size(-445px);
  }
  &.gw {
    width: retina-size(40px);
    height: retina-size(20px);
    background-position: retina-size(-494px) retina-size(-396px);
  }
  &.gy {
    width: retina-size(40px);
    height: retina-size(24px);
    background-position: retina-size(-210px) retina-size(-419px);
  }
  &.hk {
    width: retina-size(40px);
    height: retina-size(27px);
    background-position: retina-size(-294px) retina-size(-232px);
  }
  &.hm {
    width: retina-size(40px);
    height: retina-size(20px);
    background-position: retina-size(-126px) retina-size(-490px);
  }
  &.hn {
    width: retina-size(40px);
    height: retina-size(20px);
    background-position: retina-size(-168px) retina-size(-490px);
  }
  &.hr {
    width: retina-size(40px);
    height: retina-size(20px);
    background-position: retina-size(-336px) retina-size(-490px);
  }
  &.ht {
    width: retina-size(40px);
    height: retina-size(24px);
    background-position: retina-size(-420px) retina-size(-184px);
  }
  &.hu {
    width: retina-size(40px);
    height: retina-size(20px);
    background-position: retina-size(-462px) retina-size(-490px);
  }
  &.ic {
    width: retina-size(40px);
    height: retina-size(27px);
    background-position: retina-size(-42px) retina-size(-271px);
  }
  &.id {
    width: retina-size(40px);
    height: retina-size(27px);
    background-position: retina-size(-84px) retina-size(-271px);
  }
  &.ie {
    width: retina-size(40px);
    height: retina-size(20px);
    background-position: retina-size(-378px) retina-size(-512px);
  }
  &.il {
    width: retina-size(40px);
    height: retina-size(29px);
    background-position: retina-size(0px) retina-size(-95px);
  }
  &.im {
    width: retina-size(40px);
    height: retina-size(20px);
    background-position: retina-size(-462px) retina-size(-512px);
  }
  &.in {
    width: retina-size(40px);
    height: retina-size(27px);
    background-position: retina-size(-168px) retina-size(-271px);
  }
  &.io {
    width: retina-size(40px);
    height: retina-size(20px);
    background-position: retina-size(-536px) retina-size(-22px);
  }
  &.iq {
    width: retina-size(40px);
    height: retina-size(27px);
    background-position: retina-size(-210px) retina-size(-271px);
  }
  &.ir {
    width: retina-size(40px);
    height: retina-size(23px);
    background-position: retina-size(-252px) retina-size(-419px);
  }
  &.is {
    width: retina-size(40px);
    height: retina-size(29px);
    background-position: retina-size(-42px) retina-size(-95px);
  }
  &.it {
    width: retina-size(40px);
    height: retina-size(27px);
    background-position: retina-size(0px) retina-size(-300px);
  }
  &.je {
    width: retina-size(40px);
    height: retina-size(24px);
    background-position: retina-size(-420px) retina-size(-106px);
  }
  &.jm {
    width: retina-size(40px);
    height: retina-size(20px);
    background-position: retina-size(-536px) retina-size(-308px);
  }
  &.jo {
    width: retina-size(40px);
    height: retina-size(20px);
    background-position: retina-size(-536px) retina-size(-330px);
  }
  &.jp {
    width: retina-size(40px);
    height: retina-size(27px);
    background-position: retina-size(-84px) retina-size(-300px);
  }
  &.ke {
    width: retina-size(40px);
    height: retina-size(27px);
    background-position: retina-size(-126px) retina-size(-300px);
  }
  &.kg {
    width: retina-size(40px);
    height: retina-size(24px);
    background-position: retina-size(-420px) retina-size(-80px);
  }
  &.kh {
    width: retina-size(40px);
    height: retina-size(26px);
    background-position: retina-size(-116px) retina-size(-387px);
  }
  &.ki {
    width: retina-size(40px);
    height: retina-size(20px);
    background-position: retina-size(-126px) retina-size(-468px);
  }
  &.km {
    width: retina-size(40px);
    height: retina-size(24px);
    background-position: retina-size(-42px) retina-size(-419px);
  }
  &.kn {
    width: retina-size(40px);
    height: retina-size(27px);
    background-position: retina-size(0px) retina-size(-126px);
  }
  &.kp {
    width: retina-size(40px);
    height: retina-size(20px);
    background-position: retina-size(-294px) retina-size(-468px);
  }
  &.kr {
    width: retina-size(40px);
    height: retina-size(27px);
    background-position: retina-size(-336px) retina-size(0px);
  }
  &.kw {
    width: retina-size(40px);
    height: retina-size(20px);
    background-position: retina-size(-210px) retina-size(-445px);
  }
  &.ky {
    width: retina-size(40px);
    height: retina-size(20px);
    background-position: retina-size(-494px) retina-size(0px);
  }
  &.kz {
    width: retina-size(40px);
    height: retina-size(20px);
    background-position: retina-size(-494px) retina-size(-22px);
  }
  &.la {
    width: retina-size(40px);
    height: retina-size(27px);
    background-position: retina-size(-336px) retina-size(-58px);
  }
  &.lb {
    width: retina-size(40px);
    height: retina-size(27px);
    background-position: retina-size(-336px) retina-size(-87px);
  }
  &.lc {
    width: retina-size(40px);
    height: retina-size(20px);
    background-position: retina-size(-494px) retina-size(-88px);
  }
  &.li {
    width: retina-size(40px);
    height: retina-size(24px);
    background-position: retina-size(-420px) retina-size(-392px);
  }
  &.lk {
    width: retina-size(40px);
    height: retina-size(20px);
    background-position: retina-size(-494px) retina-size(-132px);
  }
  &.lr {
    width: retina-size(40px);
    height: retina-size(21px);
    background-position: retina-size(-126px) retina-size(-445px);
  }
  &.ls {
    width: retina-size(40px);
    height: retina-size(27px);
    background-position: retina-size(-336px) retina-size(-174px);
  }
  &.lt {
    width: retina-size(40px);
    height: retina-size(24px);
    background-position: retina-size(-420px) retina-size(-262px);
  }
  &.lu {
    width: retina-size(40px);
    height: retina-size(24px);
    background-position: retina-size(-420px) retina-size(-210px);
  }
  &.lv {
    width: retina-size(40px);
    height: retina-size(20px);
    background-position: retina-size(-494px) retina-size(-352px);
  }
  &.ly {
    width: retina-size(40px);
    height: retina-size(20px);
    background-position: retina-size(-494px) retina-size(-374px);
  }
  &.ma {
    width: retina-size(40px);
    height: retina-size(27px);
    background-position: retina-size(-336px) retina-size(-261px);
  }
  &.mc {
    width: retina-size(38px);
    height: retina-size(30px);
    background-position: retina-size(-126px) retina-size(-31px);
  }
  &.md {
    width: retina-size(40px);
    height: retina-size(20px);
    background-position: retina-size(-494px) retina-size(-440px);
  }
  &.me {
    width: retina-size(40px);
    height: retina-size(20px);
    background-position: retina-size(-494px) retina-size(-462px);
  }
  &.mf {
    width: retina-size(40px);
    height: retina-size(27px);
    background-position: retina-size(0px) retina-size(-329px);
  }
  &.mg {
    width: retina-size(40px);
    height: retina-size(27px);
    background-position: retina-size(-42px) retina-size(-329px);
  }
  &.mh {
    width: retina-size(40px);
    height: retina-size(21px);
    background-position: retina-size(-168px) retina-size(-445px);
  }
  &.mk {
    width: retina-size(40px);
    height: retina-size(20px);
    background-position: retina-size(-210px) retina-size(-490px);
  }
  &.ml {
    width: retina-size(40px);
    height: retina-size(27px);
    background-position: retina-size(-126px) retina-size(-329px);
  }
  &.mm {
    width: retina-size(40px);
    height: retina-size(27px);
    background-position: retina-size(-168px) retina-size(-329px);
  }
  &.mn {
    width: retina-size(40px);
    height: retina-size(20px);
    background-position: retina-size(-420px) retina-size(-490px);
  }
  &.mo {
    width: retina-size(40px);
    height: retina-size(27px);
    background-position: retina-size(-210px) retina-size(-329px);
  }
  &.mp {
    width: retina-size(40px);
    height: retina-size(20px);
    background-position: retina-size(-126px) retina-size(-512px);
  }
  &.mq {
    width: retina-size(40px);
    height: retina-size(27px);
    background-position: retina-size(-252px) retina-size(-329px);
  }
  &.mr {
    width: retina-size(40px);
    height: retina-size(27px);
    background-position: retina-size(-294px) retina-size(-329px);
  }
  &.ms {
    width: retina-size(40px);
    height: retina-size(20px);
    background-position: retina-size(-294px) retina-size(-512px);
  }
  &.mt {
    width: retina-size(40px);
    height: retina-size(27px);
    background-position: retina-size(-336px) retina-size(-329px);
  }
  &.mu {
    width: retina-size(40px);
    height: retina-size(27px);
    background-position: retina-size(-378px) retina-size(0px);
  }
  &.mv {
    width: retina-size(40px);
    height: retina-size(27px);
    background-position: retina-size(-378px) retina-size(-29px);
  }
  &.mw {
    width: retina-size(40px);
    height: retina-size(27px);
    background-position: retina-size(-378px) retina-size(-58px);
  }
  &.mx {
    width: retina-size(40px);
    height: retina-size(23px);
    background-position: retina-size(-336px) retina-size(-419px);
  }
  &.my {
    width: retina-size(40px);
    height: retina-size(20px);
    background-position: retina-size(-536px) retina-size(-44px);
  }
  &.mz {
    width: retina-size(40px);
    height: retina-size(27px);
    background-position: retina-size(-378px) retina-size(-116px);
  }
  &.na {
    width: retina-size(40px);
    height: retina-size(27px);
    background-position: retina-size(-378px) retina-size(-145px);
  }
  &.nc {
    width: retina-size(40px);
    height: retina-size(20px);
    background-position: retina-size(-536px) retina-size(-132px);
  }
  &.ne {
    width: retina-size(35px);
    height: retina-size(30px);
    background-position: retina-size(-37px) retina-size(-387px);
  }
  &.nf {
    width: retina-size(40px);
    height: retina-size(20px);
    background-position: retina-size(-536px) retina-size(-198px);
  }
  &.ng {
    width: retina-size(40px);
    height: retina-size(20px);
    background-position: retina-size(-536px) retina-size(-220px);
  }
  &.ni {
    width: retina-size(40px);
    height: retina-size(24px);
    background-position: retina-size(-420px) retina-size(-54px);
  }
  &.nl {
    width: retina-size(40px);
    height: retina-size(27px);
    background-position: retina-size(-378px) retina-size(-232px);
  }
  &.no {
    width: retina-size(40px);
    height: retina-size(29px);
    background-position: retina-size(-84px) retina-size(-95px);
  }
  &.np {
    width: retina-size(25px);
    height: retina-size(30px);
    background-position: retina-size(-536px) retina-size(-396px);
  }
  &.nr {
    width: retina-size(40px);
    height: retina-size(20px);
    background-position: retina-size(-536px) retina-size(-352px);
  }
  &.nu {
    width: retina-size(40px);
    height: retina-size(20px);
    background-position: retina-size(-252px) retina-size(-445px);
  }
  &.nz {
    width: retina-size(40px);
    height: retina-size(20px);
    background-position: retina-size(-294px) retina-size(-445px);
  }
  &.om {
    width: retina-size(40px);
    height: retina-size(20px);
    background-position: retina-size(-336px) retina-size(-445px);
  }
  &.pa {
    width: retina-size(40px);
    height: retina-size(27px);
    background-position: retina-size(-378px) retina-size(-319px);
  }
  &.pe {
    width: retina-size(40px);
    height: retina-size(27px);
    background-position: retina-size(0px) retina-size(-358px);
  }
  &.pf {
    width: retina-size(40px);
    height: retina-size(27px);
    background-position: retina-size(-42px) retina-size(-358px);
  }
  &.pg {
    width: retina-size(40px);
    height: retina-size(30px);
    background-position: retina-size(-42px) retina-size(0px);
  }
  &.ph {
    width: retina-size(40px);
    height: retina-size(20px);
    background-position: retina-size(-84px) retina-size(-468px);
  }
  &.pk {
    width: retina-size(40px);
    height: retina-size(27px);
    background-position: retina-size(-126px) retina-size(-358px);
  }
  &.pl {
    width: retina-size(40px);
    height: retina-size(25px);
    background-position: retina-size(-284px) retina-size(-387px);
  }
  &.pm {
    width: retina-size(40px);
    height: retina-size(27px);
    background-position: retina-size(-210px) retina-size(-358px);
  }
  &.pn {
    width: retina-size(40px);
    height: retina-size(20px);
    background-position: retina-size(-252px) retina-size(-468px);
  }
  &.pr {
    width: retina-size(40px);
    height: retina-size(27px);
    background-position: retina-size(-252px) retina-size(-358px);
  }
  &.ps {
    width: retina-size(40px);
    height: retina-size(20px);
    background-position: retina-size(-336px) retina-size(-468px);
  }
  &.pt {
    width: retina-size(40px);
    height: retina-size(27px);
    background-position: retina-size(-294px) retina-size(-358px);
  }
  &.pw {
    width: retina-size(40px);
    height: retina-size(25px);
    background-position: retina-size(-368px) retina-size(-387px);
  }
  &.py {
    width: retina-size(40px);
    height: retina-size(22px);
    background-position: retina-size(-378px) retina-size(-419px);
  }
  &.qa {
    width: retina-size(40px);
    height: retina-size(16px);
    background-position: retina-size(-536px) retina-size(-428px);
  }
  &.re {
    width: retina-size(40px);
    height: retina-size(27px);
    background-position: retina-size(-336px) retina-size(-358px);
  }
  &.ro {
    width: retina-size(40px);
    height: retina-size(27px);
    background-position: retina-size(-168px) retina-size(-358px);
  }
  &.rs {
    width: retina-size(40px);
    height: retina-size(27px);
    background-position: retina-size(-378px) retina-size(-203px);
  }
  &.ru {
    width: retina-size(40px);
    height: retina-size(27px);
    background-position: retina-size(-378px) retina-size(-174px);
  }
  &.rw {
    width: retina-size(40px);
    height: retina-size(27px);
    background-position: retina-size(-378px) retina-size(-87px);
  }
  &.sa {
    width: retina-size(40px);
    height: retina-size(27px);
    background-position: retina-size(-84px) retina-size(-329px);
  }
  &.sb {
    width: retina-size(40px);
    height: retina-size(20px);
    background-position: retina-size(-494px) retina-size(-176px);
  }
  &.sc {
    width: retina-size(40px);
    height: retina-size(20px);
    background-position: retina-size(-494px) retina-size(-198px);
  }
  &.sd {
    width: retina-size(40px);
    height: retina-size(20px);
    background-position: retina-size(-494px) retina-size(-220px);
  }
  &.se {
    width: retina-size(40px);
    height: retina-size(25px);
    background-position: retina-size(-242px) retina-size(-387px);
  }
  &.sg {
    width: retina-size(40px);
    height: retina-size(27px);
    background-position: retina-size(-336px) retina-size(-232px);
  }
  &.sh {
    width: retina-size(40px);
    height: retina-size(20px);
    background-position: retina-size(-494px) retina-size(-286px);
  }
  &.si {
    width: retina-size(40px);
    height: retina-size(20px);
    background-position: retina-size(-494px) retina-size(-308px);
  }
  &.sj {
    width: retina-size(40px);
    height: retina-size(29px);
    background-position: retina-size(-126px) retina-size(0px);
  }
  &.sk {
    width: retina-size(40px);
    height: retina-size(27px);
    background-position: retina-size(-336px) retina-size(-145px);
  }
  &.sl {
    width: retina-size(40px);
    height: retina-size(27px);
    background-position: retina-size(-336px) retina-size(-116px);
  }
  &.sm {
    width: retina-size(40px);
    height: retina-size(30px);
    background-position: retina-size(0px) retina-size(-32px);
  }
  &.sn {
    width: retina-size(40px);
    height: retina-size(27px);
    background-position: retina-size(-210px) retina-size(-300px);
  }
  &.so {
    width: retina-size(40px);
    height: retina-size(27px);
    background-position: retina-size(-168px) retina-size(-300px);
  }
  &.sr {
    width: retina-size(40px);
    height: retina-size(27px);
    background-position: retina-size(-42px) retina-size(-300px);
  }
  &.ss {
    width: retina-size(40px);
    height: retina-size(20px);
    background-position: retina-size(0px) retina-size(-490px);
  }
  &.st {
    width: retina-size(40px);
    height: retina-size(20px);
    background-position: retina-size(-42px) retina-size(-490px);
  }
  &.sv {
    width: retina-size(40px);
    height: retina-size(23px);
    background-position: retina-size(-294px) retina-size(-419px);
  }
  &.sx {
    width: retina-size(40px);
    height: retina-size(27px);
    background-position: retina-size(-252px) retina-size(-271px);
  }
  &.sy {
    width: retina-size(40px);
    height: retina-size(27px);
    background-position: retina-size(0px) retina-size(-271px);
  }
  &.sz {
    width: retina-size(40px);
    height: retina-size(27px);
    background-position: retina-size(-294px) retina-size(-203px);
  }
  &.ta {
    width: retina-size(40px);
    height: retina-size(20px);
    background-position: retina-size(-252px) retina-size(-490px);
  }
  &.tc {
    width: retina-size(40px);
    height: retina-size(20px);
    background-position: retina-size(-294px) retina-size(-490px);
  }
  &.td {
    width: retina-size(40px);
    height: retina-size(27px);
    background-position: retina-size(-294px) retina-size(-174px);
  }
  &.tf {
    width: retina-size(40px);
    height: retina-size(27px);
    background-position: retina-size(-294px) retina-size(-145px);
  }
  &.tg {
    width: retina-size(40px);
    height: retina-size(25px);
    background-position: retina-size(-158px) retina-size(-387px);
  }
  &.th {
    width: retina-size(40px);
    height: retina-size(27px);
    background-position: retina-size(-42px) retina-size(-242px);
  }
  &.tj {
    width: retina-size(40px);
    height: retina-size(20px);
    background-position: retina-size(0px) retina-size(-512px);
  }
  &.tk {
    width: retina-size(40px);
    height: retina-size(20px);
    background-position: retina-size(-42px) retina-size(-512px);
  }
  &.tl {
    width: retina-size(40px);
    height: retina-size(20px);
    background-position: retina-size(-84px) retina-size(-512px);
  }
  &.tm {
    width: retina-size(40px);
    height: retina-size(27px);
    background-position: retina-size(-252px) retina-size(-145px);
  }
  &.tn {
    width: retina-size(40px);
    height: retina-size(27px);
    background-position: retina-size(-252px) retina-size(-116px);
  }
  &.to {
    width: retina-size(40px);
    height: retina-size(20px);
    background-position: retina-size(-210px) retina-size(-512px);
  }
  &.tr {
    width: retina-size(40px);
    height: retina-size(27px);
    background-position: retina-size(-252px) retina-size(0px);
  }
  &.tt {
    width: retina-size(40px);
    height: retina-size(24px);
    background-position: retina-size(0px) retina-size(-419px);
  }
  &.tv {
    width: retina-size(40px);
    height: retina-size(20px);
    background-position: retina-size(-336px) retina-size(-512px);
  }
  &.tw {
    width: retina-size(40px);
    height: retina-size(27px);
    background-position: retina-size(-84px) retina-size(-213px);
  }
  &.tz {
    width: retina-size(40px);
    height: retina-size(27px);
    background-position: retina-size(-210px) retina-size(-184px);
  }
  &.ua {
    width: retina-size(40px);
    height: retina-size(27px);
    background-position: retina-size(-42px) retina-size(-184px);
  }
  &.ug {
    width: retina-size(40px);
    height: retina-size(27px);
    background-position: retina-size(0px) retina-size(-184px);
  }
  &.um {
    width: retina-size(40px);
    height: retina-size(21px);
    background-position: retina-size(0px) retina-size(-445px);
  }
  &.us {
    width: retina-size(40px);
    height: retina-size(21px);
    background-position: retina-size(-420px) retina-size(-419px);
  }
  &.uy {
    width: retina-size(40px);
    height: retina-size(27px);
    background-position: retina-size(-168px) retina-size(-155px);
  }
  &.uz {
    width: retina-size(40px);
    height: retina-size(20px);
    background-position: retina-size(-536px) retina-size(-88px);
  }
  &.va {
    width: retina-size(30px);
    height: retina-size(30px);
    background-position: retina-size(-462px) retina-size(-32px);
  }
  &.vc {
    width: retina-size(40px);
    height: retina-size(27px);
    background-position: retina-size(-84px) retina-size(-358px);
  }
  &.ve {
    width: retina-size(40px);
    height: retina-size(27px);
    background-position: retina-size(-378px) retina-size(-261px);
  }
  &.vg {
    width: retina-size(40px);
    height: retina-size(20px);
    background-position: retina-size(-536px) retina-size(-176px);
  }
  &.vi {
    width: retina-size(40px);
    height: retina-size(27px);
    background-position: retina-size(-336px) retina-size(-290px);
  }
  &.vn {
    width: retina-size(40px);
    height: retina-size(27px);
    background-position: retina-size(-336px) retina-size(-29px);
  }
  &.vu {
    width: retina-size(40px);
    height: retina-size(24px);
    background-position: retina-size(-420px) retina-size(-340px);
  }
  &.wf {
    width: retina-size(40px);
    height: retina-size(27px);
    background-position: retina-size(-252px) retina-size(-300px);
  }
  &.ws {
    width: retina-size(40px);
    height: retina-size(20px);
    background-position: retina-size(-536px) retina-size(-286px);
  }
  &.xk {
    width: retina-size(40px);
    height: retina-size(29px);
    background-position: retina-size(-84px) retina-size(-32px);
  }
  &.ye {
    width: retina-size(40px);
    height: retina-size(27px);
    background-position: retina-size(-42px) retina-size(-213px);
  }
  &.yt {
    width: retina-size(40px);
    height: retina-size(27px);
    background-position: retina-size(-168px) retina-size(-29px);
  }
  &.za {
    width: retina-size(40px);
    height: retina-size(27px);
    background-position: retina-size(-378px) retina-size(-358px);
  }
  &.zm {
    width: retina-size(40px);
    height: retina-size(27px);
    background-position: retina-size(-378px) retina-size(-290px);
  }
  &.zw {
    width: retina-size(40px);
    height: retina-size(20px);
    background-position: retina-size(-536px) retina-size(-374px);
  }
}
