<nav class="iti-breadcrumb" aria-label="Breadcrumb">
  <ol class="iti-breadcrumb__list">
    <li class="iti-breadcrumb__item" aria-current="page">Docs »</li>
  </ol>
</nav>

<div class="iti-docs">
  <%= html %>
</div>
