/* for dark mode users */
@media (prefers-color-scheme: dark) {
  :root {
    /* plugin overrides */
    --iti-border-color: #5b5b5b;
    --iti-dialcode-color: #999999;
    --iti-dropdown-bg: var(--bs-dark);
    --iti-icon-color: var(--bs-body-color);
    --iti-hover-color: #30363d;
  }

  /* input dark mode styling
  (bootstrap styles only work on inputs with .form-control) */
  input {
    background-color: var(--bs-body-bg);
    border-color: var(--bs-border-color);
    color: var(--bs-body-color);
  }

  /* bootstrap's dark mode seems to neglect select's border-color */
  select,
  .form-select {
    border-color: var(--bs-border-color);
  }

  /* bootstrap's dark mode theme doesn't seem to support changing the bg color on a disabled input */
  input[disabled] {
    background-color: #3c3c3c !important;
  }

  /* bootstrap's dark mode placeholder color is way too bright */
  input::placeholder,
  .demo input::placeholder,
  input.form-control::placeholder,
  textarea.form-control::placeholder {
    color: #5a5a5a;
  }
}
