/* Docs options page layout: keep code blocks within the content width */
.iti-doc-options {
  &__row {
    border: var(--bs-border-width, 1px) solid var(--bs-border-color, #dee2e6);
    display: flex;

    p:last-child,
    pre:last-child {
      margin-bottom: 0;
    }

    & + & {
      border-top: none;
    }
  }

  &__cell {
    vertical-align: top;
    box-sizing: border-box;
    padding: var(--bs-table-cell-padding-y, 0.5rem)
      var(--bs-table-cell-padding-x, 0.5rem);
    min-width: 0;
  }
  &__cell--key {
    flex: 0 0 210px; /* this is wide enough for all of the option names */
    border-right: var(--bs-border-width, 1px) solid
      var(--bs-border-color, #dee2e6);
    h6 {
      font-weight: 700;
    }
  }
  &__cell--value {
    flex: 1 1 auto;
    min-width: 0;
  }
  /* Docs options layout: stack key/value on small screens */
  @media (max-width: 600px) {
    &__row {
      flex-direction: column;
    }
    &__cell--key {
      flex: 0 0 auto;
      border-right: none;
    }
  }
}

// MarkdownIt anchor link styles
.header-anchor {
  // reset title styles, now that they're wrapped in a link
  color: inherit;
  &:not(:hover) {
    text-decoration: none;
  }
  // on non-touch screens
  @media (hover: hover) and (pointer: fine) {
    &::before {
      position: absolute;
      content: "#";
      margin-left: -0.9em; // space from title
      padding-right: 0.9em; // allow moving cursor from title to icon without losing hover state
      margin-top: 0.3em;
      font-size: 0.75em;
      color: var(--bs-secondary-color);
    }
  }
  &:not(:hover,:focus)::before {
    visibility: hidden;
  }
}
