/* Docs options page layout: keep code blocks within the content width */
.iti-doc-options {
  &__row {
    border: var(--bs-border-width, 1px) solid var(--bs-border-color, #dee2e6);
    display: flex;

    p:last-child,
    pre:last-child {
      margin-bottom: 0;
    }

    & + & {
      border-top: none;
    }
  }

  &__cell {
    vertical-align: top;
    box-sizing: border-box;
    padding: var(--bs-table-cell-padding-y, 0.5rem)
      var(--bs-table-cell-padding-x, 0.5rem);
    min-width: 0;
  }
  &__cell--key {
    flex: 0 0 210px; /* this is wide enough for all of the option names */
    border-right: var(--bs-border-width, 1px) solid
      var(--bs-border-color, #dee2e6);
    h6 {
      font-weight: 700;
    }
  }
  &__cell--value {
    flex: 1 1 auto;
    min-width: 0;
  }
  /* Docs options layout: stack key/value on small screens */
  @media (max-width: 600px) {
    &__row {
      flex-direction: column;
    }
    &__cell--key {
      flex: 0 0 auto;
      border-right: none;
    }
  }
}


/* Docs heading permalinks (generated by markdown-it-anchor) */
.iti-main {
  :is(h1, h2, h3, h4, h5, h6) {
    position: relative;
  }
  :is(h1, h2, h3, h4, h5, h6) > .header-anchor {
    height: 100%;
    opacity: 0;
    position: absolute;
    left: -24px;
    padding-right: 8px; /* ensure no hover gap between title and anchor */
    text-decoration: none;
    display: inline-flex;
    align-items: center;
    color: inherit;
  }
  :is(h1, h2, h3, h4, h5, h6):is(:hover) > .header-anchor {
    opacity: 1;
  }
  .header-anchor .iti-anchor-icon {
    display: block;
    width: 20px;
    height: 20px;
  }
}
