:root {
  --iti-spacer-horizontal: 12px;
  --iti-globe-height: 22px;
  --iti--search-clear-icon-height: 16px;
  --iti-arrow-height: 5px;
  --iti-arrow-padding: 9px;
  --iti-path-flags-1x: url('/img/largeFlags.webp');
  --iti-path-flags-2x: url('/img/largeFlags@2x.webp');
}
.iti {
  font-size: 20px;
}
.iti,
.iti input {
  width: 350px !important;
}
.iti input {
  height: 44px;
}
input.iti__search-input {
  padding-left: 38px;
  padding-right: 38px;
}
.iti--inline-dropdown .iti__country-list {
  max-height: 210px;
}