:root {
  --iti-spacer-horizontal: 12px;
  --iti-globe-height: 22px;
  --iti--search-clear-icon-height: 16px;
  --iti-arrow-height: 5px;
  --iti-arrow-padding: 9px;
  --iti-path-flags-1x: url("<%= cacheBust('/img/largeFlags.webp') %>");
  --iti-path-flags-2x: url("<%= cacheBust('/img/largeFlags@2x.webp') %>");
}
.iti {
  font-size: 20px;
}
.iti,
.iti input {
  width: 350px !important;
}
.iti input {
  height: 44px;
}
.iti__tel-input {
  font-size: inherit !important; // bootstrap override
}
.iti__search-icon {
  left: 13px;
}
.iti__search-clear {
  right: 8px;
}
input.iti__search-input {
  padding-left: 44px;
  padding-right: 40px;
}
.iti--inline-dropdown .iti__country-list {
  max-height: 210px;
}