pre {
  margin: 0 !important;
  display: inline-block;
}
.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string,
.token.variable {
  background: none;
}
/* override prism.css so it wraps on mobile (or on desktop, for super long lines) */
code[class*="language-"],
pre[class*="language-"] {
  white-space: pre-wrap;
  word-break: break-all;
}

#result {
  margin: 40px 0;
}
